.inline-input {
    border-width: 0;
    color: white;
    padding: 3px 5px;
    border-radius: 4px;
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}