<div id="header" class="pt-2 bg-primary_dark">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- toggler -->
        <a
          data-toggle="collapse"
          data-target=".collapse"
          role="button"
          class="btn btn-secondary mt-2 pb-2"
        >
            <i class="fa fa-bars fa-lg"></i>
        </a>
      </div>
      <div class="col  text-center">
        <div class="d-md-inline d-lg-none">
          <img class="logo" src="https://owo.whats-th.is/c197d7.png" alt="">
        </div>
        <div class="d-none d-lg-inline large-padding">
          <img class="name" src="https://owo.whats-th.is/e5141a.png" alt="">
        </div>
      </div>
      <div class="col text-right" *ngIf="isLoggedIn()">
        <button class="btn btn-secondary mt-2 pb-2" (click)="logout()">Log uit</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="eddy" [ngClass]="{'eddy-hide': !homo}">
  <div class="inside-eddy">
    <img src="https://owo.whats-th.is/69b6f6.png" alt="">
  </div>
</div>
